################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UmbrellaPromo.PC
/UmbrellaPromo.PC/obj/Debug
/UmbrellaPromo.PC/obj
/UmbrellaPromo.PC/bin/Release
/.vs/UmbrellaPromo
/UmbrellaPromo/obj
/UmbrellaPromo/bin/Release
